@import '../../../../colors.scss';

.wrapper {
    position: absolute;
    top: 0;
    right: 13%;
    width: 485px;
    height: 100%;
}

.box {
    position: absolute;
    top: 10%;
    width: 355px;
    padding: 65px;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0 0 60px 0 $gray;
}

.image {
    position: absolute;
    top: -35px;
    left: -35px;
}

.header {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.socialList {
display: flex;
list-style-type: none;
}

.form input[type=text],
.form input[type=password] {
    width: 315px;
    height: 52px;
    padding: 0 18px;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid $gray;
    border-radius: 12px;
    outline: none;
}

.form input:focus {
    border: 1px solid $cyan;
}

.remember {
    display: inline-block;
}

.forgot {
    display: inline-block;
    width: 70%;
    text-align: right;
}

.button {
    margin: 10px 0;
    width: 100%;
    height: 55px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color: $indigo;
    color: $white;
    outline: none;
}

.formSummaryError {
    color: crimson;
}

.formFreePlace {
    height: 30px;
}