@import '../../colors.scss';

.wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 75px 220px 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: $grayLight;
}

