@import '../../colors.scss';

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
            "aa aa aa"
            "ab ad ae";
    margin: 0;
    background-color: $grayLight;
}

.block {
    grid-area: ad;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 65vw;
    margin: 30px auto 0 auto;
    background-color: $grayLight;
    border-radius: 15px;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 15px;
    grid-template-areas:
            "left center right"
}

.info {
    grid-area: left;
    background-color: $white;
    border-radius: 12px;
}

.center {
    grid-area: center;
    background-color: cyan;
    border-radius: 12px;
}

.right {
    grid-area: right;
    background-color: brown;
    border-radius: 12px;
}
