@import "../../../../colors";

.wrapper {
  position: relative;
  height: 35px;
  padding-bottom: 10px;
}

.editModeToggle {
  padding: 5px;
  width: 100%;
  background-color: $white;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 12px;
  cursor: text;
}

.textarea {
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border: 1px solid $gray;
  border-radius: 12px;
  outline: none;
  resize: vertical;
}

.textarea:focus {
  height: 35px;
  border: 1px solid $cyan;
  border-radius: 12px;
}

.button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  background-color: $purple;
  color: $white;
  border: none;
  border-radius: 12px;
  outline: none;
}

.button:hover {
  background-color: $cyan;
  cursor: pointer;
}
