@import "../../../../colors";

.wrapper {
  position: relative;
  height: 35px;
  padding-bottom: 20px;
}

.editModeToggle {
  box-sizing: border-box;
  height: 35px;
  padding: 8px;
  background-color: $white;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 12px;
  cursor: text;
}

.textarea {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border: 1px solid $gray;
  border-radius: 12px;
  outline: none;
  resize: vertical;
}

.textarea:focus {
  border: 1px solid $cyan;
}

.textarea:focus::placeholder {
  color: transparent;
}


.button {
  position: absolute;
  top: 0px;
  right: 30px;
  width: 80px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  background-color: $purple;
  color: $white;
  border: none;
  border-radius: 12px;
  outline: none;
}

.button:hover {
  background-color: $cyan;
  cursor: pointer;
}
