@import '../../../colors.scss';

.wrapper {
    grid-area: ad;
    display: flex;
    width: 65vw;
    margin: 30px auto 0 auto;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 15px;
}

