@import '../../../colors.scss';

.wrapper {
  width: 100%;
  text-align: center;
  background-color: $grayLight;
}

.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: $grayLight;
}

.item {
  width: 380px;
  height: 560px;
  margin: 10px 0;
  background-color: $white;
  border-radius: 15px;
}

.pageNumber {
  padding: 10px;
  cursor: pointer;
}

.selectedPage {
  padding: 10px;
  color: $purple;
  cursor: pointer;
}
