@import '../../../colors';

.wrapper {
  width: 100%;
  text-align: center;
  background-color: $grayLight;
}

.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pageNumber {
  padding: 10px;
  cursor: pointer;
}

.selectedPage {
  padding: 10px;
  color: $purple;
  cursor: pointer;
}
