@import "../../../colors";

.formControl.error textarea {
  border: 1px solid crimson;
}

.formControl.error input {
  border: 1px solid crimson;
}

.formControl.error span {
  color: crimson;
}

.formSummaryError {
  color: crimson;
}