@import '../../../colors';

.header {
    grid-area: aa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 80px;
    background-color: $indigo;
}

.block {
    display: flex;
    align-items: center;
}

.link {
    padding-right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: $purpleLight;
}

.link:hover {
    color: $white;
    cursor: pointer;
}

.logout:hover {
    fill: $white;
    cursor: pointer;
}