@import '../../../colors';

.list {
    grid-area: ab;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    background-color: $white;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
}

