@import '../../../colors';

.wrapper {
grid-area: ad;
display: grid;
grid-template-columns: 1fr 2fr 3fr 3fr 1fr;
grid-template-rows: 20px 200px 20px 1fr 30px;
grid-template-areas:
". . . . ."
"ba banner banner banner bg"
". . . . ."
"bc bd content content bh"
". . . . .";
background-color: $grayLight;
}

.list {
  grid-area: bd;
  background-color: $white;
  border-radius: 10px;
  list-style-type: none;
  color: $grayDark;
  padding: 20px;
  box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
}