@import '../../../colors.scss';

.intro {
    width: 580px;
    position: absolute;
    top: 16%;
    left: 13%;
    color: $white;
    text-align: center;
}

.welcome {
    font-size: 24px;
    font-weight: 500;
}

.header {
    font-size: 104px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
}

.text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
}

.loginButton {
    display: inline-block;
    width: 190px;
    height: 55px;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 15px 0 0 15px;
}

.registerButton {
    display: inline-block;
    width: 190px;
    height: 55px;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 0 15px 15px 0;
}

.link{
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    color: $grayDark;
    text-decoration: none;
}

