@import '../../../../colors';

.wrapper {
    grid-area: bf;
    background-color: $grayLight;
    border-radius: 10px;
    list-style-type: none;
    color: $grayDark;
    padding: 20px;
}

.messagesArea {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-top: 15px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
}

.dialogsArea {
}

.friendsList {
    width: 100%;
    list-style-type: none;
}

.friendsList .active {
    color: $indigo;
}

.messagesList {
    list-style-type: none;
}

.textarea {
    min-height: 50px;
    width: 70%;
}

.button {
    display: block;
    width: 70%px;
    height: 50px;
    background-color: $cyan;
    border: none;
    border-radius: 10px;
    color: $white;
}
