@import '../../../colors';

.wrapper {
    grid-area: bb;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url("ProfileBanner.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}


