@import '../../../../colors';

.header {
    grid-area: aa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: $indigo;
}

