@import '../../../colors';

.wrapper {
  width: 100%;
  text-align: center;
  background-color: $grayLight;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: $grayLight;
}

.item {
  width: 380px;
  height: 560px;
  margin: 10px 0;
  background-color: $white;
  border-radius: 15px;
}
