$blue: 	hsla(211, 100%, 50%, 1);
$indigo:	hsla(242, 94%, 67%, 1);
$purple:hsla(261, 51%, 51%, 1);
$pink:hsla(332, 79%, 58%, 1);
$red: hsla(354, 70%, 54%, 1);
$orange: hsla(27, 98%, 54%, 1);
$yellow:hsla(45, 100%, 51%, 1);
$green:hsla(134, 61%, 41%, 1);
$teal:hsla(162, 73%, 46%, 1);
$cyan:	hsla(185, 77%, 51%, 1);
$white:hsla(0, 0%, 100%, 1);
$grayLight: hsla(240, 18%, 97%, 1);
$gray:hsla(208, 7%, 46%, 1);
$grayDark:hsla(210, 10%, 23%, 1);
