@import '../../../../colors';

.list {
    grid-area: bd;
    background-color: $white;
    border-radius: 10px;
    list-style-type: none;
    color: $grayDark;
    padding: 20px;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
}

.item {
    margin-bottom: 30px;
    border-bottom: 1px solid $grayLight;
}

.header {
    font-size: 18px;
}

.text {
    font-size: 14px;
    margin-bottom: 20px;
}

.listInner {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 10px;
    color: $gray;
}

.link:hover {
    color: $cyan;
}

.active {
    color: $purpleLight;
}