@import '../../../../../colors';

.friendItem {
    display: flex;
    align-items: center;
    padding: 10px;
}

.image {
    padding: 10px;
}

.link {
    text-decoration: none;
    padding-bottom: 10px;
    color: $gray;
}

.link:hover {
    color: $cyan;
}

.active {
    color: $purpleLight;
}