@import '../../../../colors';

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imageBlock {
width: 100px;
text-align: center;
}

.image {
    height: 40px;

}

.text {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: $white;
}

